<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/menu">Menu</a></li>
    <li class="breadcrumb-item">{{dish.name}}</li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-8">
      <h1>{{dish.name}}<span class="badge badge-info">{{dish.price/100}}$</span></h1>
      <p class="w3-serif">{{dish.description}}</p>
    </div>
    <div class="col-xs-6 col-sm-3 offset-sm-1">
      <img class="img img-responsive dish-view" src="{{dish.image}}" alt="photo not found">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <!--comments-->
      <app-comments [dish]="dish"></app-comments>
    </div>
  </div>
</div>
