<div class="container">
  <div class="row">
    <ul class="nav">
      <li  class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2"*ngFor="let dish of dishes">
        <div class="row">
          <div class="col-xs-3 col-sm-3">
            <img class="img img-responsive menu-icon" src="{{dish.image}}" alt="{{dish.name}}">
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="row">
              <div class="col-xs-6 col-sm-7 col-lg-8">
                <a routerLink="/dish/{{dish._id}}" class="w3-wide w3-bordered">{{dish.name}}</a>
              </div>
              <div class="col-xs-6 col-sm-5 col-lg-4">
                <span class="badge w3-badge">{{dish.price/100}}$</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>

</div>
