<!-- About Section -->
  <div class="w3-row w3-padding-64">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/assets/img/main2.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting"><br>
     <img src="http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/images/amexpub/0039/4779/201310-ss-best-indian-restaurants-gandhi-mahal.jpg?itok=49SVj9pT" class="w3-round w3-image w3-opacity-min" alt="Table Setting">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About conFusion</h1><br>
      <h5 class="w3-center">Started in 2010,</h5>
      <p class="w3-large">
        Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong.
         With its unique brand of world fusion cuisine that can be found nowhere else,
          it enjoys patronage from the A-list clientele in Hong Kong.
          Featuring four of the best three-star Michelin chefs in the world,
          you never know what will arrive on your plate the next time you visit us.</p>
      The restaurant traces its humble beginnings to <em>The Frying Pan</em>,
         a successful chain started by our CEO, Mr. Peter Pan,
          that featured for the first time the world's best cuisines in a pan.
      <p class="w3-large w3-text-grey w3-hide-medium">The restaurant traces its humble beginnings to <em>The Frying Pan</em>,
         a successful chain started by our CEO, Mr. Peter Pan,
          that featured for the first time the world's best cuisines in a pan.</p>
          <button type="button" linkRouter="/aboutus" class="btn btn-sm btn-info">More>></button>
    </div>
  </div>
  <hr>
