  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item">About Us</li>
  </ul>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3>About Us</h3>
      <hr>
      <br>
    </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
          <h2>Our History</h2>
        </div>
          <div class="col-xs-12 col-sm-12 col-lg-8">
          <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong.
             With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.
               Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
          <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>,
             a successful chain started by our CEO, Mr. Peter Pan,
              that featured for the first time the world's best cuisines in a pan.</p>
      </div>
  </div>
  <div class="row">
             <div class="col-xs-12 col-sm-12 col-lg-4">
                 <h2>Corporate Leadership</h2>
                 <hr>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-8">
              <app-leader></app-leader>
              </div>
        </div>
  <app-facts></app-facts>


</div>
