<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h3 *ngIf="dish.comments.length>0">Comments : </h3>
  </div>
  <div class="col-xs-12 col-sm-12">
      <ul class="nav navbar-nav">
        <li *ngFor="let comment of dish.comments">
        <div class="row" *ngIf="!isEditing">
          <div class="col-xs-8 col-sm-8">
            <h5>{{comment.author.username}}</h5><small><rating [readonly]="true" [(ngModel)]="comment.rating"></rating></small>
          </div>
          <div class="col-xs-2 col-sm-2">
            <button type="button" class="btn btn-info btn-sm"
            *ngIf="commentOwner(comment)"
            (click)="setEditing(comment)">Edit</button>
          </div>
          <div class="col-xs-2 col-sm-2">
            <button type="button" class="btn btn-danger btn-sm"
            *ngIf="commentOwner(comment)"
            (click)="deleteComment(comment)">X</button>
          </div>
          <div class="col-xs-12 col-sm-12">
            <p class="w3-wide w3-serif">{{comment.comment}}</p>
          </div>
          <hr>
          </div>
        </li>
      </ul>
      <div class="row" *ngIf="isEditing">
        <div class="col-xs-12 col-sm-7 offset-sm-3">
          <div class="row">
            <form class="form-horizontal" novalidate #commenteditform="ngForm">
              <div class="form-group">
                <label for="commentedit">comment : <input type="text-area" id="commentedit"
                  name="commentedit"
                  class="form-control"
                  [(ngModel)]="commentedit"
                  #commentnew="ngModel"
                  required
                  style="min-height : 100px ;"></label>
              </div>
              <div class="form-group">
                <label for="rating">rating : </label>
                <rating [required]="true" name="rating" class="form-control w3-center" id="rating"
                  [(ngModel)]="ratingedit" #ratingnew="ngModel"></rating>
              </div>
              <div class="form-control alert alert-danger" *ngIf="commentnew.touched&&commentnew.invalid">
                comment is required
              </div>
              <div class="form-control alert alert-danger" *ngIf="commentnew.touched&&ratingnew.invalid">
                rating is required
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-info btn-lg form-control"
                 (click)="editComment()" [disabled]="commenteditform.invalid">Update comment</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="row" *ngIf="!isEditing&&loggedin">
    <div class="col-xs-11 offset-xs-1 col-sm-2">
      <h6> <small>comment as </small>{{username}}  </h6>
    </div>
    <div class="col-xs-11 offset-xs-1 col-sm-8 offset-sm-2">
      <div class="row">
        <form class="form-horizontal" name="commentform" #commentform="ngForm" novalidate>
          <div class="form-group">
            <label for="comment">comment : <input type="text-area" id="comment"
              name="comment"
              placeholder="leave your comment here : "
              class="form-control"
              required
              #commentbox="ngModel"
              [(ngModel)]="comment"
              style="min-height : 100px ;"></label>
          </div>
          <div class="form-group">
            <label for="rating">rating : </label>
            <rating [required]="true" name="rating" class="form-control w3-center" id="rating"
              [(ngModel)]="rating" #ratingfield="ngModel"></rating>
          </div>
          <div class="form-control alert alert-danger" *ngIf="commentbox.touched&&commentbox.invalid">
            comment is required
          </div>
          <div class="form-control alert alert-danger" *ngIf="commentbox.touched&&ratingfield.invalid">
            rating is required
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info btn-lg form-control"
             (click)="postComment()" [disabled]="commentform.invalid">Add comment</button>
          </div>
        </form>
      </div>
    </div>
</div>
<div class="row w3-serif" *ngIf="!loggedin">
  <a routerLink="/login">Log in </a>&nbsp; or &nbsp;<a routerLink="/signup"> sign up </a>&nbsp; to comment
</div>
